<!DOCTYPE html>
<html lang="en">
{{--  
  Here is the page that covers the index page, and where the frontend work was transferred
    over to React.
--}}
<head>
  <meta charset="UTF-8" />
  <title>
    @section('title')
    @endsection
  </title>
  <link rel="stylesheet" href="/css/main.css">
  {{--  <script src="https://kit.fontawesome.com/11b34b70dc.js" crossorigin="anonymous"></script>  --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
  @!section('notifications')

    @!section('content-area')
   
    <script src="/js/components/vendor.js"></script>
    <script src="/js/components/mainApp.js"></script>
</body>
</html>
